<!DOCTYPE html>
<html>
  <head>
    <title>登録済リスト</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="lazysizes.min.js" async=""></script>
    <style>
      .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      .item {
        padding: 5px;
        text-align: center;
      }
    </style>
    <script>
      function myFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("youtube_ul");
        li = ul.getElementsByClassName('card item');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("h5")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
      }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search for names..">
      <div class="grid" id="youtube_ul">
        <% @list.each do |yid, name, title| %>
            <div class="card item" style="max-width: 24rem;">
              <a href="https://www.youtube.com/watch?v=<%= yid %>">
                <img class="card-img-top lazyload" data-src="http://i.ytimg.com/vi/<%= yid %>/default.jpg" alt="<%= title %>" />
              </a>
              <div class="card-img-overlay">
                <h5 class="card-title"><%= title %></h5>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
