!!! XHTML
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title breaktube
    %script{ type: "text/javascript", src: "/js/application.js" }
  %body
    %div#content
      != yield
